@import '../mixins';

button{
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    padding: 7px 10px;
    text-align: center;

    &.green{
        background-color: $meadow;
        &:hover{ background-color: darken($meadow, 10%); }
    }
}
